<div class="flex gap-1 flex-col text-neutral-300">
  <div class="grid grid-cols-4 gap-1">
    @for(numbers of [1,2,5,10];track numbers){
    <button
      class="bg-neutral-700 py-1 px-4 min-w-15 disabled:bg-neutral-600 rounded"
      (click)="changeQuantity(numbers, false)"
      [disabled]="numbers > cash.count"
    >
      -{{ numbers }}
    </button>

    } @for(numbers of [1,2,5,10];track numbers){
    <button
      class="bg-neutral-700 py-1 px-4 min-w-15 disabled:bg-neutral-600 rounded"
      (click)="changeQuantity(numbers, false)"

    >
      +{{ numbers }}
    </button>

    }
  </div>
</div>
