
  <div class="w-full flex gap-1 flex-col text-neutral-300">
    <div class="flex gap-1">
      @for(number of [1,2,5,10];track number){
      <button
        matButton="elevated"
        class="flex-1 min-w-14"
        (click)="changeQuantity(-number)"
        [disabled]="number > cashItem.count"
      >
       -{{ number }}
      </button>
      }
    </div>
    <div class="flex gap-1">
      @for(number of [1,2,5,10];track number){
      <button
        class="min-w-14 flex-1"
        matFab
        (click)="changeQuantity(number)"
      >
        +{{ number }}
      </button>
      }
    </div>
  </div>

